<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pizzaOrder_Project.Properties.Settings.PizzaOrderingSystemConnectionString"
            connectionString="Data Source=DESKTOP-7MG97MU;Initial Catalog=PizzaOrderingSystem;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>